django==1.8.
flake8==2.5.0
django-widget-tweaks==1.4.1
django-factory-boy==1.0.0
pillow==3.0.0
sorl-thumbnail==12.3
python-magic==0.4.10
django-cleanup==0.4.0
pycrypto==2.6.1
freezegun==0.3.5
mock==1.3.0
django-inplaceedit==1.4.1
django-debug-toolbar==1.4
django-haystack==2.4.1
Whoosh==2.7.0
django-inplaceedit-bootstrap==0.2.1
django-extensions==1.6.1
werkzeug==0.11.2
