{% extends 'base.html' %}
{% load i18n thumbnail static %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Browse Images" %}</h1>
            <p class="lead">
                {% trans "Browse images that have been uploaded previously. Select an image to view by itself and access the raw file." %}
            </p>
            <p>
                <a href="{% url 'images:upload' %}"><i class="glyphicon glyphicon-upload"></i> {% trans "Upload a new image" %}</a>
            </p>
        </div>
    </div>
    <div class="row" data-equal=".thumbnail">
        {% for object in object_list %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            {% if object.image|is_portrait %}
                {% thumbnail object.image "x200" as im %}
                    <a href="{{ object.get_absolute_url }}" class="thumbnail">
                        <img class="img-responsive" src="{{ im.url }}" alt="{{ object.title }}">
                    </a>
                {% endthumbnail %}
            {% else %}
                {% thumbnail object.image "200" as im %}
                    <a href="{{ object.get_absolute_url }}" class="thumbnail">
                        <img class="img-responsive" src="{{ im.url }}" alt="{{ object.title }}">
                    </a>
                {% endthumbnail %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}


{% block extra_javascripts %}
    <script type="text/javascript" src="{% static 'js/jquery.equal-heights.min.js' %}"></script>
{% endblock %}
