{% extends 'base.html' %}
{% load i18n thumbnail static inplace_edit %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/image-detail.css'  %}">
{% endblock extra_css %}


{% block extra_javascripts %}
    {% inplace_static %}
{% endblock extra_javascripts %}


{% block search %}{% endblock search %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{% inplace_edit "object.title" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if object.image|is_portrait %}
                {% thumbnail object.image "x700" as im %}
                    <a href="{{ object.get_raw_url }}">
                        <img class="img-responsive center-block" src="{{ im.url }}" alt="{{ object.title }}">
                    </a>
                {% endthumbnail %}
            {% else %}
                {% thumbnail object.image "700" as im %}
                    <a href="{{ object.get_raw_url }}">
                        <img class="img-responsive center-block" src="{{ im.url }}" alt="{{ object.title }}">
                    </a>
                {% endthumbnail %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                {% trans "Uploaded on" %} {{ object.date_created }} - {{ object.image.size|filesizeformat }}
            </p>
        </div>
    </div>
{% endblock %}
