{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{% trans "Upload Image" %}</h1>
        <p class="lead">
            {% trans "Drag and drop images here, or select Add files, and then select Start upload." %}
        </p>
    </div>
</div>
<form id="fileupload" action="." method="POST" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="col-lg-8">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>{% trans "Add files" %}...</span>
                <input type="file" name="files[]" multiple>
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>{% trans "Start upload" %}</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>{% trans "Cancel upload" %}</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>{% trans "Delete" %}</span>
            </button>
            <input type="checkbox" class="toggle">
            <span class="fileupload-process"></span>
        </div>
        <div class="col-lg-5 fileupload-progress fade">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width: 0;"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>

{% verbatim %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{% endverbatim %}{% trans "Start" %}{% verbatim %}</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger"{% endverbatim %}{% trans "Error" %}{% verbatim %}</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-data='{"csrf_token": "{% endverbatim %}{{ csrf_token }}{% verbatim %}"}' data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>{% endverbatim %}{% trans "Delete" %}{% verbatim %}</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{% endverbatim %}{% trans "Clear" %}{% verbatim %}</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui.css' %}">
    <noscript><link rel="stylesheet" href="{% static 'css/jquery.fileupload-noscript.css' %}"></noscript>
    <noscript><link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui-noscript.css' %}"></noscript>
{% endblock extra_css %}


{% block extra_javascripts %}
    <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload-ui.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="{% static 'js/cors/jquery.xdr-transport.js' %}"></script>
    <![endif]-->
{% endblock extra_javascripts %}
