{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans 'Password Changed' %}{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Password Changed' %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                {% trans 'Your password has been changed.' %}
            </p>
            <p>
                <a href="{% url 'images:upload' %}"><i class="glyphicon glyphicon-upload"></i> {% trans "Upload a new image" %}</a><br>
                <a href="{% url 'images:image_list' %}"><i class="glyphicon glyphicon-list"></i> {% trans "Browse images that have been uploaded previously" %}</a>
            </p>
        </div>
    </div>
{% endblock %}
