{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{{ action|default:"." }}" class="form-horizontal">
                {% csrf_token %}
                {% include 'bootstrap_forms/error_list.html' %}
                {% include 'bootstrap_forms/horizontal_fields/default_input.html' with field=form.username %}
                {% include 'bootstrap_forms/horizontal_fields/default_input.html' with field=form.password %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
