{% load query_string_tags %}


<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="{% query_string "page=var" "page" page_obj.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        {% endif %}

        {% for paginator_item in paginator.page_range %}
            {% if page_obj.number == paginator_item %}
                <li class="active"><a href="{% query_string "page=var" "page" paginator_item %}">{{ paginator_item }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{% query_string "page=var" "page" paginator_item %}">{{ paginator_item }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li>
                <a href="{% query_string "page=var" "page" page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
