{% extends 'base.html' %}
{% load i18n static thumbnail %}


{% block title %}{% trans 'Search Images' %}{% endblock title %}


{% block content %}
    <form method="get" action=".">
        {{ form }}
    <input type="submit">
    {{ query }}
    </form>
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Search Images" %}</h1>
            <p class="lead">
                {% trans "Search for images that have been uploaded in the past." %}
            </p>
        </div>
    </div>
    {% if query %}
        {% if object_list|length %}
            <div class="row">
                {% for result in object_list %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div class="thumbnail">
                        {% if result.object.image|is_portrait %}
                            {% thumbnail result.object.image "x200" as im %}
                                <a href="{{ result.object.get_absolute_url }}">
                                    <img class="img-responsive" src="{{ im.url }}" alt="{{ result.object.title }}">
                                </a>
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail result.object.image "200" as im %}
                                <a href="{{ result.object.get_absolute_url }}">
                                    <img class="img-responsive" src="{{ im.url }}" alt="{{ result.object.title }}">
                                </a>
                            {% endthumbnail %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include "includes/pagination.html" %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2>{% trans 'No Results Found' %} Len: {{ page_obj.object_list|length }}</h2>
                    <p>{% trans 'Sorry, no images matched your query.' %}</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}


{% block extra_javascripts %}
    <script type="text/javascript" src="{% static 'js/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.thumbnail').matchHeight();
        });
    </script>
{% endblock %}
